body{
  margin: 0;
  padding: 0;
}

#tittle{
  background-color: #192959;
  color: #fff;
  text-align: center;
}

form{
  text-align: center;
  color: #00c3c9;
}

#btn{
  background-color: #00c3c9;
  color: #fff;
}
